@{
}
@model ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

<div id="ResetPassword">
    <h2>Reset Your Password</h2>
    <form id="resetPasswordForm">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" class="form-control" id="Email" name="Email" required minlength="6" />
        </div>
        <button type="button" class="btn btn-primary" onclick="sendResetLink()">Send Reset Link</button>
    </form>
</div>

<div id="loader" style="display:none;">
    <img src="https://cdn.dribbble.com/users/1122374/screenshots/4835344/media/94c3100a14992a242388b551d7b32f9d.gif" alt="Loading..." />
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function sendResetLink() {
        $('#loader').show();
        $.ajax({
            url: '@Url.Action("SendResetLink", "Account")',
            type: 'POST',
            data: $('#resetPasswordForm').serialize(),
            success: function (response) {
                // Handle success response
                $('#loader').hide();
                alert('Reset link sent successfully!');
            },
            error: function (xhr, status, error) {
                // Handle error response
                $('#loader').hide();
                alert('An error occurred: ' + error);
            }
        });
    }
</script>
