@{
}
@model ResetPasswordFormViewModel
<div id="ResetPasswordForm">
    <h2>Reset Your Password</h2>
    <form id="resetPasswordForm">
        @*<div class="form-group">
            <label for="Token">Token</label>
            <input type="text" class="form-control" id="Token" name="Token" required />
        </div>*@
        <input type="hidden" id="Token" value="@Model.Token" />
        <div class="form-group">
            <label for="NewPassword">New Password</label>
            <input type="password" class="form-control" id="NewPassword" name="NewPassword" required minlength="6" />
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required />
        </div>
        <button type="button" class="btn btn-primary" onclick="resetPassword()">Reset Password</button>
    </form>
</div>

<script style="width:100px;height:100px" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    //function getQueryParam(name) {
    //    const urlParams = new URLSearchParams(window.location.search);
    //    return urlParams.get(name);
    //}

    //// Extract the token from the query string
    //const token = getQueryParam('token');

    function resetPassword() {
        var formData = {
            Token: $('#Token').val(),
            NewPassword: $('#NewPassword').val(),
            ConfirmPassword: $('#ConfirmPassword').val()
        };

        $.ajax({
            url: '@Url.Action("ResetPassword", "Account")',
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json; charset=utf-8',
            success: function(response) {
                if (response.success) {
                    alert('Password reset successful!');
                } else {
                    alert('Error: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
                alert('Error: ' + error);
            }
        });
    }
</script>