################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmployeeManagementPortal

# Ignore Visual Studio build files
bin/
obj/
*.pdb
*.exe
*.dll